@font-face {
    font-family: titulo;
    src: url(../fonts/Prata-Regular.ttf);
  }
  

  .custom-links {
    display: flex;
    font-family: titulo;
    margin-left: 70px;
    
  }
  
  .custom-links a {
    margin-right: 50px; 
    text-decoration: none;
    color: #ffff;
  }

  .custom-links a:hover {
    color: #939292;
  }
  
  .bg-crema{
    background-color: #fff2df;
  }

  .bg-marron-oscuro{
    background-color: #674d3c;
  }

  .bg-marron{
    background-color: #a2836e;
  }

  .bg-marron-claro{
    background-color: #d9ad7c;
  }
  
  body {
      margin:0;
      background-color: #fff2df;
      background-size: cover;
    }

  .user{
    display: flex;
    align-items: center;
  }


  .user-info {
    text-align: center;
    margin-right: 5px;
  }
  
  .username {
    margin-top: 5px;
    font-size: small;
  }

  .conjuntoLogin{
    display: flex;
  }

.boton-login {
  background-color: #a2836e;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  font-family: titulo;
  text-decoration: none; 
}

.boton-logout {
  background-color: #674d3c;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  margin-right: 20px;
  font-family: titulo;
  text-decoration: none; 
}


.buttonLogin {
  background-color: #a2836e;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.boton-login:hover {
  background-color: #c5a087;
  color: #a2836e;
  font-family: titulo;
}

.boton {
  display: flow-root;
  padding: 15px 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #a2836e;
  font-family: titulo;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.boton:hover {
  background-color: #d2ad95;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.enlaceCabecera{

    color: white;
    text-decoration: none; 
    background-color: transparent;
    font-family: titulo;
    padding: 0;
    margin: 0;

}


 
  
  
    #divLienzo{
      display: flex;
      align-content: center;
      justify-content:center;
    }
  
  
    .divVideo video {
      width: 100%;
      height: auto;
    }
    
    #divLogo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
    #imgLogo {
      width: 600px; /* Ajusta el tamaño según tus necesidades */
      height: auto;
    }
  
    #parrafoCarta{
      font-family: Arial;
      font-size: 1.5em;
      text-align: center;
      margin: 10%;
  
  
    }
    #tituloCarta{
      font-size: 3em;
      font-family: titulo;
      text-align: center;
  
    }
  
  
    #galeriaTitulo{
      font-size: 3em;
      font-family: titulo;
      text-align: center;
  
    }
  
  
    #tituloPortada{
  
      color: white;
      font-family: titulo;
      font-size: 20em;
      justify-content:center;
      z-index: 1;
    }
  
  
  
  
    #tituloCentro{
      margin: 0;
      display: flex;
      align-content: center;
      justify-content:center;
  
    }
  


        #divLogo {

          position: absolute;
          transform: translate(-50%, -50%);
  
        }

    
  
    #galeria{
      margin-top: 100px;
      margin:10%;
      width: 80%;
    }


    .cabecera {
      background-color: #674d3c;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      padding: 10px;
      color: #fff;
      font-size: 20px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 2;
    }

    .letrasCabecera {
      display: flex;
      align-items: center; 
      justify-content: center;
      font-family: titulo;
      font-size: 1em;
    }

/*////////////////// Seccion de las cards //////////////////////////////*/

.textoTarjetas{
  font-family: titulo;
  text-align: center;
  font-size: 3em;
  margin: 10%;

  
}

.seccion {
  padding: 20px;
  margin-bottom: 60px;
  
  


}

.contenedor-tarjetas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  color: #fff;
  font-family: Arial;
}

.fila-tarjetas {
  width: 100%;
  display: flex;
}

.tarjeta {
  width: 48%;
  margin-right: 4%;
  margin-bottom: 20px;
  background-color: #674d3c;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  border-radius: 4px;
  padding: 20px;
}

.tarjeta:last-child {
  margin-right: 0;
}

.tarjeta img {
  max-width: 100%;
  height: 500px;
  margin-bottom: 10px;

}

.tarjeta h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: titulo;
  text-align: center;
}





/*////////////////// Seccion de las galeria//////////////////////////////*/


.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.galeria {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  text-align: center;
}

.galeria img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  object-fit: cover;
  z-index: -1; 
  max-width: 80%;
  left: 50%; 
  transform: translateX(-50%);
}

.galeria img:first-child {
  opacity: 1;
}

/*////////////////// Seccion footer//////////////////////////////*/


footer {
  background-color: #674d3c;
  color: #fff;
  padding: 20px;
}

footer a{
  color: #fff;
}

.contact-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info > div:not(:last-child) {
  margin-bottom: 20px;
}

.contact-info span {
  margin: 5px 0 0 0;
}

#seccionTabla{
  margin-top: 150px;
}




/*////////////////////////////////////////////////////////////////////////////////*/
  
  
  
    @media (max-width: 760px) {
      #tituloPortada {
        font-size: 8em;
      }
  
      #tituloCarta {
        font-size: 1.5em;
      }
  
      #galeriaTitulo {
        font-size: 2em;
      }
    }



    @media (max-width: 580px) {
      .tarjeta {
        width: 100%;
      }

      .tarjeta img {
        max-width: 100%;
        height: 200px;
        margin-bottom: 10px;
      
      }

      #imgLogo{
        width: 400px;
        height: 650px;
    
      }

      #enlaces{
        display: none;
      }


    }

    @media (max-width: 1000px) {
     

      #enlaces{
        display: none;
      }

      #divLogo {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #imgLogo{
        width: 300px;
        height: 650px;
    
      }
    }


    @media (max-width: 550px) {
     
      #divCarta{
        margin-top: 100px;
      }
      
    }